<main class="landing container">
	<section class="hero">
		<h1 class="display">SimplyManage</h1>
		<p class="subtitle">Modern and reliable inventory management for you</p>
		<div class="cta">
			<a class="btn btn-primary btn-l" href="/items">Explore</a>
			<a class="btn btn-dark btn-l" href="/about">About</a>
		</div>
	</section>

	<section class="spacer"></section>
</main>